body {
    /* background-color: #f7f7f7; */
    color: black;
    transition: .2s ease-in-out;
}


.main{    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    padding: 1rem;
}




/* 🌙 Dark Mode Styling */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.searchedTerm span{
    background: #ebebeb;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 4px;
}
.searchedTerm span i{
    color: red;
    cursor: pointer;
}


.toggle-button {
    color: white;
    background-color: #2e5c74;
    border: none;
    border-radius: 25px;

    cursor: pointer;
    transition: .25s ease-in-out;

    height: 40px;
    width: 41px;
}

.toggle-button:hover {
    background-color: #407089;
}



.placeholderImages{
    height: 200px;
}


