.resultDisplay {
    height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: auto;
}

.resultDisplay .viewGrid {
    padding: 0 .7rem .4rem 0;
}


.resultDisplay .viewGrid .imageResults {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto scales */
    margin-bottom: 2rem;
}


.resultDisplay .viewGrid .imageResults .card{
    color: #000000;
    border: 0;
    border-radius: 11px;

    height: 330px;
    overflow: hidden;
}


.resultDisplay .viewGrid .imageResults .card .card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.resultDisplay .viewGrid .imageResults .card .card-img img{
    height: 100%;
    width: 100%;

    object-fit: cover;
    cursor: pointer;
    transition: 0.4s ease-in-out, filter 0.4s ease-in-out;
}
.resultDisplay .viewGrid .imageResults .card:hover .card-img img{
    filter: brightness(.9);
    transform: scale(1.1);
}
.resultDisplay .viewGrid .imageResults .card:hover .title-overlay {
    bottom: 7px;
}
.resultDisplay .viewGrid .imageResults .card:hover .download-btn {
    top: 5px;
    right: 5px;
}


.title-overlay {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%); 
    max-width: calc(100% - 15px);
    padding: 5px 7px;

    border-radius: 7px;
    text-align: center;

    transition: .4s ease-in-out;
}

/* Title text with ellipsis if too long */
.title-overlay p {
    font-size: 13px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Resolution overlay (top-left) */
.resolution-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 5px 4px;

    font-size: 10px;
    border-radius: 7px;
}


.card-img .download-btn {
    top: -30px;
    right: -30px;

    width: 30px; 
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    transition: .4s ease-in-out;
}
.card-img .download-btn i{
    font-size: 14px;
}


.dark{
    background-color: #414141;
    color: white;
}


.frostedGlass{
    color: #000000;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(2px);
}







/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
    background: rgb(45 45 45 / 40%);
    backdrop-filter: blur(10px);
}


/* Modal Content */
.modal-content {
    position: relative;
    max-width: max-content;
    max-height: 100%;

    border: none;
    text-align: center;
    background-color: transparent;
}

/* Image inside Modal */
.modal-image {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}



/* modal Button Styles */
.close-btn, .download-btn {
    position: absolute;
    right: 10px;

    border: none;
    border-radius: 50%;

    cursor: pointer;
    transition: 0.2s ease-in-out;

    width: 40px; 
    height: 40px;
    aspect-ratio: 1 / 1;
    min-width: 40px;
    min-height: 40px;
}

.close-btn:hover, .download-btn:hover {
    background: rgb(255 255 255 / 60%);
}


/* Close Button Position */
.close-btn {
    top: 10px;
}

/* Download Button Position */
.download-btn {
    top: 60px;
}


/* Ensure Icons Are Properly Centered */
.close-btn i, .download-btn i {
    font-size: 15px;
    line-height: 1;
}



.modal-content .title-overlay{
    bottom: 10px;
    opacity: 0;
}
.modal-content .title-overlay p{
    white-space: normal;
}
.modal-content:hover .title-overlay {
    opacity: 1;
}