.searchInput{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.defaultButton{
    color: white;
    border: 0;
    border-radius: 25px;
    
    transition: .2s ease-in-out;
    padding: .6rem 1rem;
}


.searchInput input{
    font-size: 14px;
    border: 0;
    outline: none;
    border-radius: 25px;
    box-shadow: 1px 1px 7px 2px rgb(0,0,0,10%);

    flex: 1;
    padding: .5rem 1.5rem;
}





/* dark mode */
.dark input{
    background-color: #333;
    color: white;
}

.dark input::placeholder {
    color: lightgray;
}